.container {
    display: flex;
    margin-left: 90px;

}
.container1 {
    background-color: #555F64;
    margin: 120px 75px 120px 75px;
    padding: 50px 50px 150px 50px;

}
.image {
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 300px;
}


#data {

    width: 25%;
    font-style: Italic;
    color: white;
    font-size: large;
    line-height: 30px;

}

.circle {
    width: 102.52pt;
    height: 102.52pt;
    border-radius: 50%;
    background-color: #E14B32;
    opacity: 90%;
    position: relative;
    margin: 5rem 2rem;
}

.text {
    position: absolute;
    width: 250px;
    left: 80px;
    top: 30px;
    color: white;
}


.tittle {
    margin-left: 90px;
    margin-top: 50px;
}

.line::after {
    content: "";
    display: inline-block;
    width: 130%;
    height: 2px;
    background-color: black;
    margin-bottom: 4px;
    width: 130px;
    font-weight: bold;
    margin-left: 0.5rem;
    background-color: brown;
}

